#catalogo{
  width: 977px;
  background-color: #ed8330; 
}
#catalogoTitulo{
  background-color: #d6670c;
}
.catalogoCategoria{
  position: relative;
  overflow: hidden;
  width: 300px;
  border-radius: 15px;
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.catalogoCategoria:hover{
  transform: scale(1.04);
}
.catalogoImagen{
  width: 100%;
}
.catalogoNombre {
  position: absolute;
  background-color: white;
  width: 100%;
  bottom: 50px;
  font-size: 30px;
  text-align: center;
}

@media (max-width: 992px) {
  #catalogo {
    width: 95%;
    min-width: 300px;
  }
  .catalogoCategoria{
    width: 48%;
  }
  .catalogoNombre{
    font-size: 24px;
  }
}