#productoPrincipal{
    width: 992px;
    margin: 125px auto 25px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    min-height: 90vh;
    justify-content: center;
    padding-top: 50px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 5px 1px #322617;
}
#productoImagen{
    width: 450px;
    height: 500px;
}
#productoImagen img{
    width: 100%;    
    border-radius: 999px;
}
#datos{
    width: 600px;
    height: 500px;
    text-align: center;
}
#productoNombre{
    font-size: 50px;
}
#productoPrecio{
    margin-top: 50px;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.precios{
    display: flex;
    width: 250px;
    border: 1px solid #322617;
    border-radius: 5px;
}
.sumar{
    background-color: green;
    width: 15%;
    cursor: pointer;
    border-radius: 5px 0px 0px 5px;
}
.sumar:hover{
    scale: 1.1;
    color: white;
}
.p{
    width: 70%;
}
.restar{
    background-color: red;
    width: 15%;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
}
.restar:hover{
    scale: 1.1;
    color: white;
}
.cantidad{
    width: 10%;
    text-align: center;
}
#resultado{
    font-size: 30px;
    width: 500px;
}
#productoComprar{
    background-color: #ed8330;
    border-radius: 15px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}
#productoComprar:hover{
    scale: 1.1;
    color: white;
}
#productoAgregar{
    background-color: #d6670c;
    border-radius: 15px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}
#productoAgregar:hover{
    scale: 1.1;
    color: white;
}
#productoDescripcion{
    margin-top: -150px;
    background-color: #ed8330;
    width: 100%;
    font-size: 30px;
    padding: 15px;
}