#cabezera{
  background-color: #d6670c;
}
#cabezeraLogo{
  width: 90px;
  height: 90px;
}
#cabezeraLogo img{
  height: 90px;
  background-color: white;
  border-radius: 999px;
  transition: 0.2s ease;
}
#cabezeraLogo img:hover{
  scale: 1.05;
}
/*------------------*/
#buscadorLista{
  top:40px;
  z-index: 100;
}
/*------------------*/
#cabezeraDerecha{
    width: 500px;
}
/*------------------*/
#offcanvasNavbar {
  --bs-offcanvas-color: #fff; /* texto blanco */
  --bs-offcanvas-hover: #322617;
}
#offcanvasNavbar.show {
  --bs-offcanvas-color: #322617; /* texto negro */
  --bs-offcanvas-hover: #d6670c;
}
.cabezeraBotones {
  cursor: pointer;
  color: var(--bs-offcanvas-color);
  transition: color 0.2s ease;
}

.cabezeraBotones:hover {
  color: var(--bs-offcanvas-hover);
}
