#lista{
  width: 992px;
}
.listaImagen{
  width: 20%;
}
.listaPrecios{
  width: 200px;
  font-size: 20px;
}
.listaProducto:nth-child(odd) { 
  background-color: #ed8330; 
}
.listaProducto:nth-child(even) { 
  background-color: #d6670c; 
}
@media (max-width: 992px) {
  #lista{
    width: 95%;
    min-width: 300px;
  }
  #listaProductos{
    flex-wrap: wrap;
  }
  .listaProducto{
    width: 48%;
    height: 440px;
  }
  .listaImagen{
    position: absolute;
    top: 70px;
    width: 100%;
    background-color: white;
  }
  .listaNombre{
    text-align: center;
    position: absolute;
    width: 100%;
    font-size: 20px;
    top: 5px;
  }
  .listaDescripcion{
    display: none;
  }
  .listaLeer{
    display: none;
  }
  .listaPrecios{
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 16px;
  }
}
