#lista{
  width: 992px;
  min-height: 100vh;
}
#listaBuscador{
  font-size: 20px
}
#listaFiltroCelular{
  background-color: #ed8330;
}
#listaFiltroComputadora{
  
}
#FiltroComputadoraBoton{
  background-color: #ed8330;
}
#FiltroComputadoraLista{
  width: 200px;
}
.listaCheckBox{
  height: 28px;
  border-bottom: 2px solid #ed8330;
  padding: 3px;
}
.listaCheckBox input[type="checkbox"]{
  accent-color: #ed8330;
}
.cajaNombre{
  width: 100%;
}
.listaImagen{
  width: 20%;
}
.listaInfo{
  font-size: 20px
}
.listaNombre{
  font-size: 25px;
}
.listaDescripcion{
  width: 550px;
  height: 120px;
}
.listaPrecios{
  width: 200px;
  font-size: 20px;
}
.listaComprar{
  background-color: #d6670c;
  cursor: pointer;
}
.listaComprar:hover{
  color: white;
}
.listaProducto:nth-child(odd) { 
  background-color: #ed8330; 
}
.listaProducto:nth-child(even) { 
  background-color: #d6670c; 
}

@media (max-width: 992px) {
  #lista{
    width: 95%;
    min-width: 344px;
  }
  #listaProductos{
    flex-wrap: wrap;
  }
  .listaProducto{
    display: flex;
    flex-wrap: wrap;
    width: 47%;
  }
  .listaImagen{
    width: 100%;
    background-color: white;
  }
  .listaInfo{
    text-align: center;
    width: 100%;
  }
  .listaNombre{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
  }
  .listaDescripcion{
    display: none;
  }
  .listaLeer{
    display: none;
  }
  .listaPrecios{
    width: 100%;
    padding-bottom: 5px;
  }
}
