#lista{
  width: 992px;
}
#listaBuscador{
  
}
.listaCheckBox{
  width: 170px;
  height: 30px;
  border: 1px solid #ed8330;
  padding: 2px;
}
.listaCheckBox input[type="checkbox"]{
  accent-color: #ed8330;
}
.listaImagen{
  width: 20%;
}
.listaInfo{
  font-size: 20px
}
.listaPrecios{
  width: 200px;
  font-size: 20px;
}
.listaProducto:nth-child(odd) { 
  background-color: #ed8330; 
}
.listaProducto:nth-child(even) { 
  background-color: #d6670c; 
}

@media (max-width: 992px) {
  #lista{
    width: 95%;
    min-width: 344px;
  }
  #listaProductos{
    flex-wrap: wrap;
  }
  .listaProducto{
    display: flex;
    flex-wrap: wrap;
    width: 47%;
  }
  .listaImagen{
    width: 100%;
    background-color: white;
  }
  .listaInfo{
    text-align: center;
    width: 100%;
  }
  .listaNombre{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
  }
  .listaDescripcion{
    display: none;
  }
  .listaLeer{
    display: none;
  }
  .listaPrecios{
    width: 100%;
  }
}
