#carruselDestacado{
    width: 100%;
}
#carrusel{
    display: flex;
    transition: transform 1s ease-in-out;
    min-height: 100vh;
}
#slide{
    margin-top: 100px;
    min-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
#slide img{
    height: 100%;
    width: auto;
    max-height: 100%;
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}
#botonesCarrusel{
    position: relative;
    z-index: 10;
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 30px;
    margin-top: -60px;
}
#botonCarrusel{
    width: 30px;
    height: 30px;
    border-radius: 999px;
    cursor: pointer;
    border: 1px solid #322617;
}